/* GENERAL */

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

#header{
  width: 100%;
}

#logo{
  margin-left: 2%;
  margin-top: 0.5%;
}

#title{
  line-height: 50px;
  font-size: 40px;
  vertical-align: 10px;
}
/* HEADER */


/* MAIN */
/* grey background */

#greycontainer{
  padding-top: 40px;
  width: 100%;
  background-color: rgb(246, 248, 249);
}

/* taskbar */

#taskbar{
  margin: auto;
  width: 60%;
  height: 40px;
  border-radius: 10px 10px 0 0;
  background-color: white;
  padding-top: 10px;
}

.buttons{
  margin-left: 4%;
}

/* /taskbar */

/* MAIN CONTENT */

#to-do-container{
  margin: auto;
  margin-top: 4px;
  width: 60%;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

/* FOLDERS */

.folder{
  padding: 20px;

}

.folder::before{
  color: rgb(67, 71, 80);
  content: '\25BC';
}


.folder-title{
  color: rgb(67, 71, 80);
  font-size: 20px;
  font-weight: bold;
}

.task-done::before{
  color: green;
  content: "\2713";
  border: 1px solid green;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.task-uncompleted::before{
  color: red;
  content: "\2716";
  border: 1px solid red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

/* END FOLDERS */

/* COLORED CATEGORIES */



.editorial{
color: white;
padding: 5px;
font-size: 10px;
background-color:rgb(69, 171, 234);
border-radius: 10px 10px 10px 10px;
}

.goals{
  color: white;
padding: 5px;
font-size: 10px;
background-color:rgb(156, 114, 228);
border-radius: 10px 10px 10px 10px;
}

.recruiting{
color: white;
padding: 5px;
font-size: 10px;
background-color:rgb(100, 192, 169);
border-radius: 10px 10px 10px 10px;
}

.mobile{
  color: white;
  padding: 5px;
  font-size: 10px;
  background-color:rgb(242, 158, 51);
  border-radius: 10px 10px 10px 10px;
  }

  .website{
    color: white;
    padding: 5px;
    font-size: 10px;
    background-color:rgb(216, 99, 161);
    border-radius: 10px 10px 10px 10px;
  }

  .sales{
    color: white;
    padding: 5px;
    font-size: 10px;
    background-color:rgb(176, 201, 38);
    border-radius: 10px 10px 10px 10px;
  }

  
  