/* GENERAL */

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

#header{
width: 100%;
}

#logo{
  margin-left: 2%;
  margin-top: 0.5%;
}

#title{
  line-height: 50px;
  font-size: 40px;
  vertical-align: 10px;
}
/* HEADER */


/* MAIN */
/* grey background */

#greycontainer{
  padding-top: 40px;
  width: 100%;
  background-color: rgb(246, 248, 249);
}

/* taskbar */

#taskbar{
  margin: auto;
  width: 60%;
  height: 40px;
  border-radius: 10px 10px 0 0;
  background-color: white;
  padding-top: 10px;
}

.buttons{
  margin-left: 4%;
}

/* /taskbar */

#to-do-container{
  margin: auto;
  margin-top: 4px;
  width: 60%;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
